*.DS_Store
*.LSOverride
Thumbs.db
.bundle
/node_modules
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
_ide_helper.php
_ide_helper_models.php
.idea
.phpstorm.meta.php
/tinkerwell